body {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
}
.container  * {
    text-align: center;
}

.example-enter {
  opacity: 0.01;
}
.example

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
.item {
	cursor: pointer;
	padding: 3px;
}
.item:hover {
	color: red;
}